%h3 フレンズポップに友人を招待する
招待するボタンを押すと、Facebook メッセンジャー経由でフレンズポップに招待ができます

%h3 以下の友人は共通の友人が多いみたいです。招待しましょう！
%br
%ul
.via-candidates.row
  - @invite_mutual_friends.each do |m|
    .via-candidate.col-xs-6.col-sm-3.col-md-2
      = lazy_image_tag m.picture_url, size: '50x50', alt: m.name
      %br
      = m.name
      %br
      = link_to '招待する'.html_safe ,send_invitation_path(via: m.fb_id), data: {toggle: "modal", target: "#ajax-modal" }, remote: "true",class: 'btn btn-primary btn-xs'
      = render 'invites/create_message'
%h3 あなたの友人一覧
%ul
.via-candidates.row
  - @invite_friends.each do |f|
    .via-candidate.col-xs-6.col-sm-3.col-md-2
      = lazy_image_tag f.picture_url, size: '50x50', alt: f.name
      %br
      = f.name
      %br
      = link_to '招待する'.html_safe ,show_invitation_path(via: f.fb_id), data: {toggle: "modal", target: "#ajax-modal" }, remote: "true",class: 'btn btn-primary btn-xs'
      =# =render 'invites/modal'
      

%p{ style: 'margin-top: 10px;' }= link_to '<i class="fa fa-angle-double-left"></i> 戻る'.html_safe, root_path, class: 'btn btn-default'