= breadcrumbs [['HOME', root_path], ["#{@profile.name}さんを", relations_path(user: @profile.fb_id)], "#{@via.name}さんに紹介してもらった"]

%h2 メッセージ送信完了
%p #{@via.name}さんに、#{@profile.name}さんの紹介をお願いするメッセージを送りました。
%p フレンズポップをご利用いただきありがとうございました。
%p.messages-body= lf2br @message.message_to_send
%p.text-center
  = link_to root_path, class: 'btn btn-primary' do
    %i.fa.fa-home
    戻る
