= breadcrumbs [['HOME', root_path], 'メッセージ送信履歴']

%h2 メッセージ送信履歴
.messages-index
  - @messages.each do |message|
    .message
      .row
        .col-xs-8
          %i.fa.fa-user
          = message.recipient_profile.name
        .col-xs-4
          %i.fa.fa-clock-o
          = message.created_at.strftime('%m/%d %H:%M')
      .row
        .col-xs-12= message.message
%p{ style: 'margin-top: 10px;' }= link_to '<i class="fa fa-angle-double-left"></i> 戻る'.html_safe, root_path, class: 'btn btn-default'
