= breadcrumbs [['HOME', root_path], "#{@profile.name}さんを紹介してもらう"]
%h2= "#{@profile.name}さん"
%p= image_tag @profile.picture_url, size: '200x200', alt: @profile.name
%p= link_to '<i class="fa fa-facebook"></i> Facebookで詳しく見る'.html_safe, @profile.facebook_url, class: 'btn btn-info', target: '_blank'
%ul
  %li 性別：#{@profile.gender_str}
  %li 年齢：#{@profile.age_str}
  %li 交際ステータス：#{@profile.relationship_status_str}
%h3 とは、この方がお知り合いです！
%p 誰に紹介してもらうかを選択してください。
.via-candidates.row
  - @vias.each do |via|
    .via-candidate.col-xs-6.col-sm-3.col-md-2
      = image_tag via.picture_url, size: '50x50', alt: via.name
      %br
      = via.name
      %br
      = link_to '<i class="fa fa-envelope-o"></i>紹介を頼む'.html_safe, new_message_path(user: @profile.fb_id, via: via.fb_id), class: 'btn btn-primary btn-xs'
%p{ style: 'margin-top: 10px;' }= link_to '<i class="fa fa-angle-double-left"></i> 戻る'.html_safe, root_path, class: 'btn btn-default'
