%form{ method: :get, action: friends_path(fb_id: @profile.fb_id) }
  %h3 #{@profile.name} の友人を検索する！
  = search_form_for @q do |f|
    %table
      %tr
        %th 性別 :
        %td
          = check_box_tag :gender, "male",params[:gender] 
          = check_box_tag :gender,"female" ,params[:gender]
          = check_box_tag :gender,"empty" ,params[:gender]

      %tr
        %th 交際ステータス:
        %td
          %input.relationship_status{:type=> "checkbox", :name=> "relationship_status", :value=>"Single"} 独身
          %input.relationship_status{:type=> "checkbox", :name=> "relationship_status", :value=>"In a Relationship"} 交際中
          %input.relationship_status{:type=> "checkbox", :name=> "relationship_status", :value=>"In an Open Relationship"}   オープンな関係
          %input.relationship_status{:type=> "checkbox", :name=> "relationship_status", :value=>"Married"} 既婚
          %input.relationship_status{:type=> "checkbox", :name=> "relationship_status", :value=>"empty"} データなしを表示
      %tr
        %th 年齢:
        %td
          %input#age_min{:size => "3", :type => "text"}>/
          〜
          %input#age_max{:size => "3", :type => "text"}/
          %input#age_show_empty.trigger_filter{:type=> "checkbox" , :value=>"true"} データなしを表示
          
          = f.submit


  %h3 検索結果
  .result

  -#- @friends_friends.each do |f|
    - @result.each do |f|  
    = link_to(image_tag(f['picture']['data']['url'],size:"100x100",alt:"Pic"), relations_path(f['id']))
