%h3 #{@profile.name} の友人を検索する！
= form_for @search_form, url: friends_path, remote: true, html: {method: :get} do |f|
  %table
    %tr
      %th 性別 :
      %td
        = f.check_box :gender, {multiple: true,checked:true}, 'male',nil
        男性        
        = f.check_box :gender, {multiple: true,checked:true}, 'female',nil
        女性
        = f.check_box :gender, {multiple: true,checked:true},'empty',nil
        データなし 

    %tr
      %th 交際ステータス:
      %td
        = f.check_box :relationship_status, {multiple: true,checked:true}, 'Single',nil
        独身
        = f.check_box :relationship_status, {multiple: true}, 'In a Relationship',nil
        交際中
        = f.check_box :relationship_status, {multiple: true}, 'In an Open Relationship',nil
        オープンな関係
        = f.check_box :relationship_status, {multiple: true}, 'Married',nil
        既婚
        = f.check_box :relationship_status, {multiple: true}, 'empty',nil
        データなしを表示      

    %tr
      %th 年齢範囲:
      %td

        = f.number_field :age_min, value: 20
        歳から
        = f.number_field :age_max, value: 30
        歳まで
        = f.check_box :no_age, {}, 'true',nil
        年齢データなしを表示
  
  %p 
  = f.submit '検索'

%p
%h3 検索結果
#search_result
  = render 'search_result'


