!!!
%haml{:lang => "ja"}
    %head
        %meta{:charset => "UTF-8"}
    %body
      
        -# tag
        %h3 You
        = @current_user.fb_id 
        %br
        = @current_user.name
        %br
        = @current_user.picture_url
        

        %h3 friends using who's who ++
 
        %ul
        - @friends.each do |f|
            -# %img{:src =>"#{f["picture"]["data"]["url"].to_s}",:alt =>"pic",:width =>"100", :height =>"100"}
            -# %li #{f["picture"]["data"]["url"].to_s}
            %li #{f.fb_id}
            %li #{f.name}
            %li #{f.picture_url}
         
