!!! 5
%html
  %head
    %meta{ charset: 'UTF-8' }
    %meta{ name: 'viewport', content: 'initial-scale=1.0, user-scalable=no'}
    %meta{property:"og:title",content:"フレンズポップ(friends-pop)"}
    %meta{property:"og:type",content:"website"}
    %meta{property:"og:url",content:"http://friends-pop.kumonos.jp"}
    %meta{property:"og:locale",content:"ja_JP"}
    %meta{property:"og:image",content:"http://res.cloudinary.com/whoswhoplus/image/upload/v1402806372/title_friends-pop_wdovqb.png"}
    %meta{property:"og:site_name",content:"フレンズポップ"}
    %meta{property:"og:description",content:"「友人の友人」を探そう、つながろう。友人紹介サービスです。"}
    %title
      = content_for?(:title) ? yield(:title) : "#{rails_env}Friends Pop(フレンズポップ)"
    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = yield :header
  %body
    .container
      - if flash.present?
        - flash.each do |type, msg|
          %div{class: "alert alert-#{type.to_s}"}= msg.html_safe
      %nav.navbar.navbar-default{role: "navigation"}
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{href: root_path} Friends Pop
        .collapse.navbar-collapse.navbar-ex1-collapse
          %ul.nav.navbar-nav
            %li
              = link_to root_path do
                %i.fa.fa-users
                友人一覧
            %li
              = link_to messages_path do
                %i.fa.fa-list
                利用履歴
            %li
              = link_to sign_out_path do
                %i.fa.fa-power-off
                サインアウト
      = yield
