!!! 5
%html
  %head
    %meta{ charset: 'UTF-8' }
    %meta{ name: 'viewport', content: 'initial-scale=1.0, user-scalable=no'}
    %meta{property:"og:title",content:"フレンズポップ(friends-pop)"}
    %meta{property:"og:type",content:"website"}
    %meta{property:"og:url",content:"http://friends-pop.kumonos.jp"}
    %meta{property:"og:locale",content:"ja_JP"}
    %meta{property:"og:image",content:"http://res.cloudinary.com/whoswhoplus/image/upload/v1402806372/title_friends-pop_wdovqb.png"}
    %meta{property:"og:site_name",content:"フレンズポップ"}
    %meta{property:"og:description",content:"「友人の友人」を探そう、つながろう。友人紹介サービスです。"}
    %title
      = content_for?(:title) ? yield(:title) : "#{rails_env}Friends Pop(フレンズポップ)"
    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = yield :header
  %body
    .container
      - if flash.present?
        - flash.each do |type, msg|
          %div{class: "alert alert-#{type.to_s}"}= msg.html_safe
      - if session[:current_user].present?
        %nav.navbar.navbar-default{role: "navigation"}
          .navbar-header
            %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", :type => "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a.navbar-brand{href: root_path} Friends Pop
          .collapse.navbar-collapse.navbar-ex1-collapse
            %ul.nav.navbar-nav
              %li
                = link_to root_path do
                  %i.fa.fa-users
                  友人一覧
              %li
                = link_to messages_path do
                  %i.fa.fa-list
                  利用履歴
              %li
                = link_to new_invite_path do
                  %i.fa.fa-lightbulb-o
                  友人をフレンズポップに招待    
              %li
                = link_to sign_out_path do
                  %i.fa.fa-power-off
                  サインアウト
      = yield
    %footer
      .container
        .like_button
          .fb-like{ "data-action" => "like", "data-href" => "http://friends-pop.kumonos.jp/", "data-layout" => "standard", " data-share" => "true", "data-show-faces" => "true", "data-count" => "vertical" }
          %br
          %a.twitter-share-button{ "data-hashtags" => "friends_pop", "data-lang" => "ja", "data-url" => "http://friends-pop.kumonos.jp/", href: "https://twitter.com/share" } ツイート
          %br
          .g-plusone{ href: "http://friends-pop.kumonos.jp/", "data-annotation" => "inline", "data-size" => "medium", "data-width" => "300" }
          %br
          %span
            = javascript_include_tag '//media.line.me/js/line-button.js?v=20140411'
            :javascript
              new media_line_me.LineButton({"pc":false,"lang":"ja","type":"a","text":"フレンズポップ","withUrl":true});
        .copy
          2014
          %a{ href: 'http://kumonos.jp/' } kumonos
          all rights reserved

        :javascript
          (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&appId=1452215268348852&version=v2.0";
          fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));

        :javascript
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

        :javascript
          (function() {var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;po.src = 'https://apis.google.com/js/platform.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
          })();
